body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider {
  position: relative;

  padding-top: 275px;

  text-align: center;
  color: #ffffff;

  margin-bottom: 41px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background: rgba(248,247,244,0.4);
}

.slider-controls label:active {
  background: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 8px;
}

.site-nav-list,
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}

.site-nav-list {
  padding: 0;
  margin: 0;
  margin-right: 353px;

  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-list {
  font-size: 14px;
  font-weight: 500;
}

.nav-item a {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 17px 5px 16px;
  border-radius: 25px;
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.nav-item-link:hover .nav-item-ico path,
.nav-item-link:focus .nav-item-ico path {
  fill: #000000;
}

.cart-link:hover g,
.cart-link:focus g {
  fill: #000000;
}

.nav-item .nav-item-link-search {
  padding: 0;
}

.nav-item-link span {
  display: block;
}

.nav-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.nav-item-link svg {
  margin-top: -2px;
  margin-right: 7px;
}

.nav-item-link-search svg {
  margin: 0;
}

.nav-item-link-search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 33px;
  height: 33px;
}

.main-link {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-nav-item a,
.nav-list a {
  color: #ffffff;
}

.site-nav-item a {
  display: block;
}

.main-catalog-link {
  padding: 7px 13px;
}

.main-catalog-link:hover,
.main-catalog-link:focus {
  background-color: #f7f6f3;
  border-radius: 15px;
  color: #333333;
}

.main-link-active {
  background-color: #d07058;
  border-radius: 15px;
}

.main-link-active .main-link {
  border-bottom: 0;
}

.main-catalog-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

.contacts p {
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  margin-bottom: 5px;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.main-iceream h2 {
  margin: 0;

  font-size: 60px;
  line-height: 60px;

  margin-bottom: 26px;
  padding: 26px 244px 0;
}

.main-iceream button {
  margin: 0;
  padding: 0;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;

  padding: 0 42px;
  min-height: 64px;
}

.stock-item h3 {
  margin: 0;

  font-size: 35px;
  line-height: 41px;

  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 13px;
}

.stock-item p {
  margin: 0;

  margin-bottom: 45px;
  padding-left: 20px;
}

.stock-item a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 22px;

  min-height: 46px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 21px;
  border-radius: 40px;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stock {
  margin-top: -2px;
  margin-bottom: 34px;
}

.stock-list p {
  font-size: 18px;
  line-height: 22px;
}

.stock-list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.stock-list li:first-child {
  padding-right: 26px;
}

.stock-list button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.goods-item {
  line-height: 45px;
  position: relative;
  min-height: 405px;
  padding: 6px 0 13px;
}

.goods-wrapper {
  margin: 0 -13px;
}

.goods-item img {
  width: 267px;
  height: 267px;
  display: block;
  margin: 0 auto;
}

.goods-item::before {
  content: "";
  position: absolute;
  background-color: white;
  background-image: url("../img/ico/hit.svg");
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  top: 6px;
  left: 13px;
  z-index: 1;
}

.goods-list {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  padding: 0;
  margin: 0;
}

.goods-list li {
  width: 25%;
}

.goods-text {
  text-align: center;
}

.goods-text span {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.goods-list li:last-child {
  margin-right: 0;
}

.item-price {
  font-size: 45px;
  letter-spacing: -1.5px;
}

.item-weight {
  font-size: 30px;
}

.glaccy-main-logo {
  display: block;
  width: 164px;
  height: 64px;
  margin-left: -4px;
}

.nav-item {
  padding-right: 10px;
}

.nav-item-last {
  padding-right: 0;
}

.nav-item-cart {
  padding-right: 0;
}

.site-nav-list li:last-child {
  margin-right: 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  text-align: right;
}

.about-us h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  padding: 25px 21px 22px;
}

.main-iceream {
  text-align: center;
}

.stock-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stock-item-raspback {
  background-color: #942718;
  background-image: url("../img/raspberries-bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 23px;
  border-radius: 15px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock-item-chocoback {
  background-color: saddlebrown;
  background-image: url("../img/choco-bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  padding-bottom: 23px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock-item-raspback p {
  padding-right: 20px;
}

.stock-item {
  width: 50%;
  min-height: 229px;
}

.goods-item p {
  margin: 0;
  padding: 0 18px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.goods-item .goods-about {
  margin-top: -47px;
  padding-left: 12px;
  padding-bottom: 27px;
}

.goods {
  margin-bottom: 0;
}

.about-us {
  margin-top: -56px;
  font-weight: normal;

  color: #323232;

  background-color: antiquewhite;
  background-image: url("../img/wafer.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  min-height: 306px;
}

.about-us-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-right: 28px;
}

.about-us-list-wrapper ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-list {
  font-size: 16px;
  line-height: 22px;
}

.about-us-list li {
  margin-left: 77px;
  padding-bottom: 22px;
}

.about-us-item span {
  display: block;
}

.item-leaf span {
  padding-right: 34px;
}

.item-icecream span {
  padding-right: 34px;
}

.about-us-item {
  position: relative;
}

.about-us-item::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: -14px;
  left: -56px;
}

.item-icecream::before {
  background-image: url("../img/ico/ice-cream.svg");
}

.item-leaf::before {
  background-image: url("../img/ico/eco.svg");
}

.item-cow::before {
  background-image: url("../img/ico/cow.svg");
}

.item-temperature::before {
  background-image: url("../img/ico/thermometer.svg");
}

.about-us-list .item-cow,
.about-us-list .item-temperature {
  margin-left: 33px;
}

.blog {
  color: #323232;
  min-height: 220px;
  background-color: white;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: 870px auto;
  background-position: -52px -225px;
  border-radius: 15px;
}

.blog-wrapper {
  padding-left: 20px;
}

.blog-link {
  padding-bottom: 15px;
}

.blog-link:hover,
.blog-link:focus {
  color: tomato;
}

.blog-link:hover .blog-link-text,
.blog-link:focus .blog-link-text {
  border-bottom: 2px solid rgba(232,77,55,0.3);
}

.blog p {
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-top: 23px;

  line-height: 22px;
  font-weight: normal;
}

.blog a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-top: 1px;
  padding-right: 205px;

  color: #323232;
}

.blog-link-text {
  border-bottom: 2px solid #323232;
}

.subscribe {
  background-image: url("../img/mail-bg.jpg");
  background-color: grey;
  background-size: cover;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe button {
  padding: 0 10px;
  min-width: 129px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.subscribe input {
  border-radius: 5px;
  color: #323232;
  font-weight: bold;
  width: 337px;
  border: 0;
  padding: 14px;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
          box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.subscribe-input:hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.subscribe-input:focus {
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.subscribe-form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #999999;
}

.subscribe-form input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #999999;
}

.subscribe-form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #999999;
}

.subscribe-form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #999999;
}

.subscribe-form input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color: #999999;
}

.subscribe-wrapper {
  margin: 4px;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding-left: 24px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 37px;
}

.subscribe-wrapper form {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe p {
  margin: 0;
  line-height: 22px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 34px;

  color: #5a5a5a;
}

.social li {
  margin-right: 11px;
}

.social li:last-child {
  margin-right: 0;
}

.social-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  margin-top: 26px;
}

.social-columns-link-text-heart {
  font-weight: bold;
}

.social-columns a {
  color: #ffffff;
}

.social-columns ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-columns-link-text {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.social-columns .social-columns-left {
  margin-right: 32px;
}

.social-columns-left li,
.social-columns .social-columns-right li {
  margin-bottom: 7px;
}

.social-columns-left {
  position: relative;
}

.social-columns-left-heart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url("../img/ico/heart.svg");
  top: 3px;
  left: -22px;
}

.social-columns-left li:last-child,
.social-columns .social-columns-right li:last-child {
  margin-bottom: 0;
}

.map-wrapper {
  padding: 0;
  position: relative;
  top: -415px;
}

.map {
  position: relative;
}

.map iframe {
  width: 100%;
  position: absolute;
}

.map img {
  display: block;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
}

.map-contacts-wrapper {
  position: absolute;
  top: 47px;
  right: 0;

  width: 252px;
  min-height: 243px;
  background-color: #ffffff;
  border-radius: 10px;

  color: #323232;
  padding: 30px 25px;
}

.map-contacts-wrapper p {
  margin: 0;
}

.map-contacts-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  padding-right: 30px;
}

.map-contacts-adress {
  font-style: normal;

  padding: 0 0 17px;

  font-size: 18px;
  line-height: 24px;
}

.address-text {
  padding-right: 95px;
}

.map-contacts-wrapper .contacts-text-margin {
  margin-top: 3px;
}

.map-contacts-tel {
  display: block;
  color: #323232;
  padding-top: 6px;

  font-size: 18px;
  line-height: 22px;
}

.map-button {
  margin-top: 24px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  color: #fefefe;
  width: 252px;
  min-height: 44px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright {
  margin-top: 16px;
}

.copyright p {
  margin: 0;
}

.copyright-text {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.copyright-link:hover,
.copyright-link:focus {
  color: #ffbc9e;
}

.copyright-link:hover .copyright-text,
.copyright-link:focus .copyright-text {
  border-bottom: 1px solid rgba(255,188,158,0.3);
}

.copyright p {
  font-size: 12px;
  line-height: 18px;

  color: #fefefe;
  margin-top: 6px;
}

.copyright a {
  color: #fefefe;
}

.copyright img {
  display: block;
  padding-left: 3px;
  width: 108px;
  height: 39px;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 39px;
}

.index-columns section {
  width: 560px;
}

.footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.social {
  padding: 0;
  margin: 0;
  margin-right: 12px;
  margin-top: 33px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-img {
  opacity: 0.8;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.social-item:hover .social-img,
.social-tem:focus .social-img {
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

.social-item:active .social-img {
  border: 3px solid rgba(255,255,255);
}

.catalog-menu-content {
  display: none;
  position: absolute;
  background-color: #f8f7f4;
  min-width: 143px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 5px;
}

.catalog-menu-content span {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 10px;
}

.catalog-menu-content a {
  color: #323232;
  text-decoration: none;
  display: block;
}

.catalog-menu-content a:hover,
.catalog-menu-content a:focus {
  background-color: #fbded8;
}

.catalog-menu-content a:active {
  background-color: #f6b5a5;
}

.catalog-menu-content-link-active {
  background-color: #d07058;
}

.nav-item-hover:hover .catalog-menu-content,
.nav-item-hover:focus .catalog-menu-content {
  display: block;
}

.catalog-menu-content .catalog-menu-item {
  font-weight: bold;
}

.catalog-menu-item {
  border-bottom: 1px solid rgba(99, 99, 99, 0.4);
}

.nav-item-content {
  border-radius: 5.1px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 277px;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: #f8f7f4;
  display: none;
}

.nav-item-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.nav-item-wrapper:hover .nav-item-content,
.nav-item-wrapper:focus .nav-item-content {
  display: block;
}

.restore-link,
.registration-link {
  display: block;
}

.restore-link span,
.registration-link span {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  border-bottom: 1px solid rgba(32, 32, 32, 0.3);
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper button {
  padding: 0;
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
}

.login-form-wrapper input {
  width: 227px;
  min-height: 44px;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-left: 14px;
}

.login-form {
  padding-left: 19px;
  padding-top: 20px;
}

.password-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item .restore-link,
.nav-item .registration-link {
  padding: 0;
}

.login-wrapper {
  padding-bottom: 22px;
}

.goods-catalog img {
  width: 267px;
  height: 267px;
}

.goods-catalog {
  margin: 0;
  margin: 0 -13px;
  margin-top: 25px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.goods-item-non-hit::before {
  content: none;
}

.item-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11px;
}

.item-button {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 200px;
  min-height: 44px;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  display: none;
}

.goods-item-non-hit {
  width: 25%;
}

.row-margin {
  margin-top: -62px;
}

.goods-item:hover,
.goods-item:focus {
  background: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 1;
}

.goods-item:hover .item-button,
.goods-item:focus .item-button {
  display: block;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.search-input-wrapper {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 341px;
  min-height: 84px;
}

.search-wrapper:hover .search-input-wrapper,
.search-wrapper:focus .search-input-wrapper {
  display: block;
}

.search-input-wrapper input {
  width: 311px;
  padding: 15px;
  margin: 20px 15px;
  height: 44px;
  color: #999999;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.filter-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  margin-top: -17px;
}

.filter-menu-list a {
  color: #ffffff;
}

.filter-menu-list a:hover,
.filter-menu-list a:focus {
  color: #ffbc9e;
}

.filter-menu-list a:hover .filter-menu-link-text,
.filter-menu-list a:focus .filter-menu-link-text {
  border-bottom: 1px solid rgba(255,188,158,0.3);
}

.filter-menu-list a:active {
  color: #ffbc9e;
}

.filter-menu-list li {
  padding-right: 20px;
}

.filter-menu-list span {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  position: relative;
}

.filter-menu-list span::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 59px;
  width: 10px;
  height: 7px;
  background-image: url("../img/ico/icon-right-small.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.filter-menu-list span::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 62px;
  width: 10px;
  height: 7px;
  background-image: url("../img/ico/icon-right-small.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.filter-menu-list .active::after {
  content: none;
}

.filter-menu-list .active {
  border-bottom: 0;
}

.filter-menu h2 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-top: 3px;
}

.filter-menu {
  margin-bottom: 26px;
}

.sort-menu {
  -webkit-appearance: none;
  position: relative;
  padding-left: 12px;
  background-color: rgba(248, 247, 244, 0.2);
  border: 0;
  border-radius: 15px;
  width: 194px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-image: url("../img/ico/icon-down-dir-white.svg");
  background-repeat: no-repeat;
  background-position: 167px center;
}

.fieldset-sort {
  margin-bottom: 8px;
}

.sort-menu:hover {
  color: #323232;
  background-image: url("../img/ico/icon-down-dir-black.svg");
}

.sort-menu option {
  color: #000000;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-filter-form fieldset {
  border: 0;
  padding-left: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.fieldset-price {
  width: 220px;
}

.fieldset-fat {
  width: 415px;
}

.fieldset-fat input[type="radio"] {
  display: none;
}

.fieldset-fat ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 15px;
  min-height: 37px;
}

.fieldset-fat li {
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 48px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.fieldset-option {
  width: 703px;
}

.fieldset-option ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 15px;
  min-height: 37px;
}

.fieldset-option li {
  padding: 8px 0;
  padding-left: 49px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 19px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 15px;
}

.range-controls .scale {
  height: 4px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 36px;
}

.range-controls .toggle-max {
  left: 134px;
}

.catalog-filter-form legend {
  padding-left: 15px;
}

.filter-radio {
  position: relative;

  cursor: pointer;
}

.filter-radio input[type="radio"]:hover + .radio-indicator,
.filter-radio input[type="radio"]:focus + .radio-indicator {
  opacity: 1;
}

.filter-radio input[type="radio"]:active + .radio-indicator {
  opacity: 0.4;
}

.filter-radio input[type="radio"] + .radio-indicator {
  opacity: 0.8;
  position: absolute;
  top: -2px;
  left: -35px;

  width: 16px;
  height: 16px;
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.filter-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;

  border-radius: 50%;

  background: rgba(255,255,255,0.8);
}

.filter-checkbox {
  position: relative;
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 1;
}

.filter-checkbox input[type="checkbox"]:active + .checkbox-indicator {
  opacity: 0.4;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  opacity: 0.8;
  position: absolute;
  width: 20px;
  height: 20px;

  top: -1px;
  left: -36px;

  background-image: url("../img/ico/checkbox-off.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 20px;

  background-image: url("../img/ico/checkbox-on.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-filter-button {
  padding: 0 10px;
  min-width: 144px;
  min-height: 37px;
  border: solid 2px #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  -ms-flex-item-align: center;

      -ms-grid-row-align: center;

      align-self: center;
  margin-top: 14px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
  color: #323232;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-filter-button:active {
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: rgba(237, 237, 237, 1);
}

.cart-item img {
  display: block;
  width: 33px;
  height: 33px;
}

.cart-item button {
  display: block;
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;

  padding: 0 15px;
  margin-bottom: 20px;
}

.cart-item-price {
  padding-right: 29px;
}

.cart-list .cart-item {
  padding-right: 0;
}

.cart-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-left: 26px;
  padding-top: 20px;
}

.cart-menu {
  display: none;
}

.cart-wrapper:hover .cart-menu,
.cart-wrapper:focus .cart-menu {
  display: block;
}

.cart-list-button {
  padding: 0;
  width: 170px;
  min-height: 44px;

  color: #fefefe;

  font-size: 18px;
  line-height: 24px;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 17px;
  margin-right: 20px;
  padding-bottom: 15px;
}

.price-for-all {
  padding: 0;
  margin: 0 20px;
  text-align: right;
  padding-top: 17px;
  margin-top: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  font-size: 15px;
  line-height: 18px;
  font-weight: bold;

  border-top: 1px solid #cacac7;
}

.cart-item-name {
  width: 216px;
  margin-left: 14px;
  margin-right: 32px;
}

.cart-item::before {
  position: absolute;
  content: "";

  width: 11px;
  height: 11px;
  top: 30px;
  left: 0;

  background-image: url("../img/ico/cross-small.svg");
  cursor: pointer;
}

.cart-item-text-grey {
  color: #999999;
}

.cart-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.cart-menu {
  padding: 0;
  margin: 0;

  position: absolute;
  z-index: 1;
  right: 0;

  background: rgba(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  color: #323232;

  width: 540px;
  min-height: 242px;

  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  margin-right: 19px;
  position: relative;
}

.pages-list::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 7px;
  right: -21px;
  background-image: url("../img/ico/icon-right-small.svg");
  background-repeat: no-repeat;
}

.pages-list::before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.2;
  width: 8px;
  height: 12px;
  top: 8px;
  right: 161px;
  background-image: url("../img/ico/icon-right-small.svg");
}


.pages-list li {
  margin-right: 3px;
}

.pages-item {
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages-link {
  color: #ffffff;
  display: block;
}

.pages-link-active {
  color: #000000;
}

.pages-item-active {
  background: rgba(255,255,255);
}

.pages-item:hover,
.pages-item:focus {
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}

.pages-item:hover .pages-link-active,
.pages-item:focus .pages-link-active {
  color: #ffffff;
}

.pages-item:active .pages-link {
  color: rgba(0,0,0);
}

.pages-item:active .pages-link-active {
  color: rgba(0,0,0);
}

.pages-wrapper {
  margin-top: -13px;
  margin-bottom: 30px;
}

.border-bottom-wrapper {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -239px;
  max-width: 478px;
  min-height: 443px;
  padding: 20px 26px 27px 24px;
  background-color: #f8f7f4;
  border-radius: 10px;

  z-index: 2;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-form h2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.modal-form input {
  width: 267px;
  min-height: 44px;
}

.modal-form input,
.modal-form textarea {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  padding: 0 15px;
  color: #999999;
}

.modal-form textarea {
  width: 428px;
  min-height: 155px;
  resize: none;
  padding-top: 13px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 17px;

  width: 23px;
  height: 22px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 22px;
  height: 2px;

  background-color: #323232;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-button {
  width: 139px;
  min-height: 44px;

  margin-top: 26px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.modal-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-columns-item:hover .social-columns-link,
.social-columns-item:focus .social-columns-link {
  color: #ffbc9e;
}

.social-columns-item:hover .social-columns-link,
.social-columns-item:focus .social-columns-link {
  border-bottom: 1px solid rgba(255,188,158,0.3);
}

.nav-list-margin {
  margin-right: 334px;
}

.social-link img {
  width: 32px;
  height: 32px;
}
